.containerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 15%;
    align-items: center;
}

#typingBox{
    width:  200%;
    height: 200%;
    resize: none;
    /*display: block;*/
    margin: auto 0;
    padding: 5%;
}

#textBoxDiv{
    padding: 5%;
}